<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>TEMPLATE</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <style>
        .specialClass {
background-image: url("https://i.ibb.co/Hr95MfJ/agh-logo.png");
background-size: contain;
background-repeat: no-repeat;
height: 100%;}
    </style>
</head>
<body>
<div class="jumbotron text-center specialClass" style="margin-bottom:0">
    <h1>Application for analysis a distribution network <br>using OpenDSS simulator</h1>
    <p>Master thesis project</p>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/"><i class="fas fa-home"></i>
        Master Thesis</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Actions
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/data/all">See all data</a>
                    <a class="dropdown-item" href="/seeDataFromCertainNode">See data for certain node</a>
                    <a class="dropdown-item" href="/entity">Add data manually</a>
                    <a class="dropdown-item" href="/file">Upload a file</a>
                    <a class="dropdown-item" href="/chooseOpenDssModelToBeUpdated">OpenDSS interaction</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/applicationManual">Application manual</a>
            </li>
        </ul>
    </div>
</nav>

<script>
        document.getElementById('modelFilePath').innerHTML = document.getElementById('hiddenOpenDssModelFilePath').innerHTML
    </script>

<div class="container">
<form   th:action="@{/plottedResults}"  th:object="${simulationResultsCheckboxes}" method="post">

    <div class="form-group w-50">
        <p th:text="${openDssModelFilePath}" hidden id="hiddenOpenDssModelFilePath" />
        <label for="modelFilePath">
            <h4 id="modelFilePathLabel" style="padding-top:10px">Directory for OpenDss model :</h4>
        </label>
        <input type="text" class="form-control" id="modelFilePath" th:field="*{openDssModelFilePath}" required placeholder="OpenDss model file path" title="For example 'C:\Users\...\OpenDssModel.dss'">
    </div>

    <div class="form-group w-50">
        <label for="openDssExeFilePath1">
            <h4 style="padding-top:10px">Enter directory for OpenDss.exe file :</h4>
        </label>
        <input type="text" class="form-control" id="openDssExeFilePath1" th:field="*{openDssExeFilePath}" required placeholder="OpenDss.exe file path" title="For example 'C:\Program Files\OpenDSS\x64\OpenDss.exe'">
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox"  id="votlages1"  th:field="*{voltages}">
        <label class="form-check-label" for="votlages1">Plot Voltage</label>
    </div>

    <!--<div class="form-check">-->
        <!--<input class="form-check-input" type="checkbox"  id="currents1"  th:field="*{currents}">-->
        <!--<label class="form-check-label" for="currents1">Currents</label>-->
    <!--</div>-->

    <!--<div class="form-check">-->
        <!--<input class="form-check-input" type="checkbox"  id="powers1"  th:field="*{powers}">-->
        <!--<label class="form-check-label" for="powers1">Powers</label>-->
    <!--</div>-->

    <!--<div class="form-check">-->
        <!--<input class="form-check-input" type="checkbox"  id="losses1"  th:field="*{losses}">-->
        <!--<label class="form-check-label" for="losses1">Losses</label>-->
    <!--</div>-->

    <!--<div class="form-check">-->
        <!--<input class="form-check-input" type="checkbox"  id="taps1"  th:field="*{taps}">-->
        <!--<label class="form-check-label" for="taps1">Taps</label>-->
    <!--</div>-->

    <button type="submit" class="btn btn-primary" style="padding-top:10px">Submit</button>

</form>
</div>
<div class="jumbotron text-center" style="margin-bottom:0">
    <p>Author : Bartosz Golec</p>
    <p>Promoter : Doctor of Engineering Krzysztof Piątek</p>
    <p>Faculty of Electrical Engineering,
        Automatics, Computer Science
        and Biomedical Engineering</p>
    <p>Department of Power Electronics and Energy Control Systems </p></div>
</body>
</html>